@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ebebeb;
  scroll-behavior: smooth;
}

.container {
  max-width: 100vw;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar img {
  height: 2.5rem;
  position: absolute;
  left: 10px;
  top: 10px;
}

.navbar .nav-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10em;
  padding: 1em 0 1em 0;
  list-style: none;
}

.navbar .nav-item-list a {
  color: #1676ba;
  text-decoration: none;
  text-shadow: 0px 0px 4px rgba(2, 90, 242, 0.561);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5em;
}

.navbar .nav-item-list a:visited {
  color: #1676ba;
  text-decoration: none;
}

.navbar .nav-item-list a:hover {
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 0px 4px #9c9c9c;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #383b45;
  padding: .5rem 0 .5rem 0;
}

.mobile-nav .mobile-nav-list {
  display: none;
}

.mobile-nav .mobile-nav-list a {
  color: white;
  text-decoration: none;
}

.mobile-nav .mobile-nav-list a:visited {
  color: white;
  text-decoration: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0 7rem 0;
}

.hero .hero-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.hero .hero-img-container .hero-img {
  height: 40vw;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.286);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.286);
}

.hero .hero-img-container .img-container01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.hero .hero-img-container .img-container01 p {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.496);
  color: white;
  font-size: 3vw;
  padding: .5em 0 .5em 0;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  font-family: 'Nanum Myeongjo', serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .hero-img-container .img-container01:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

.hero .hero-img-container .img-container01:hover p {
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .hero-img-container .img-container02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.hero .hero-img-container .img-container02 p {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.496);
  color: white;
  font-size: 3vw;
  padding: .5em 0 .5em 0;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  font-family: 'Nanum Myeongjo', serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .hero-img-container .img-container02:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

.hero .hero-img-container .img-container02:hover p {
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .hero-img-container .img-container03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.hero .hero-img-container .img-container03 p {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.496);
  color: white;
  font-size: 3vw;
  padding: .5em 0 .5em 0;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  font-family: 'Nanum Myeongjo', serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .hero-img-container .img-container03:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

.hero .hero-img-container .img-container03:hover p {
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5rem 0;
  background: #1676ba;
}

.about-section h2 {
  padding: 3em 0 2em 0;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  text-shadow: 0px 0px 4px rgba(2, 90, 242, 0.561);
}

.about-section .about-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section .about-content-container p {
  padding: 10%;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

.down-arrow {
  height: 0;
  width: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 10rem solid red;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-top: 5rem;
  margin-bottom: 10vw;
}

.contact-section h2 {
  padding: 5rem 0 5rem 0;
  color: #1676ba;
  font-family: 'Nanum Myeongjo', serif;
}

.contact-section p {
  margin-top: 15rem;
  padding: 0 10% 0 10%;
}

.contact-section .form fieldset {
  padding: 2rem 4rem 2rem 4rem;
  border: none;
  border-radius: 5px;
  background: #1676ba;
}

.contact-section .form fieldset div {
  margin-top: 1em;
}

.contact-section .form fieldset label {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 500;
}

.contact-section .form fieldset input {
  padding: .5em;
  width: 13rem;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.contact-section .form fieldset textarea {
  resize: none;
  padding: .5rem;
  height: 5rem;
  width: 13rem;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.contact-section .form fieldset button {
  position: relative;
  left: 85px;
  bottom: -10px;
  padding: .5em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .about-content-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-section h2 {
    padding: 4rem 0 0 0;
  }
  .contact-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding-top: 0;
  }
  .contact-content-container p {
    padding: 0 20% 10% 20%;
    margin-top: 0;
  }
  fieldset {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-nav #hamburger {
    font-size: 2rem;
    position: absolute;
    right: 30px;
    color: white;
  }
  .mobile-nav #hamburger:hover {
    cursor: pointer;
  }
  .mobile-nav-list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    position: absolute;
    top: 55px;
    width: 100%;
    background: #383b45;
  }
  .mobile-nav-list .mobile-nav-item {
    color: white;
    font-size: 1.5rem;
    padding: .5rem;
    font-family: 'Nanum Myeongjo', serif;
  }
  .mobile-nav-list .mobile-nav-item:hover {
    text-align: center;
    width: 100%;
    background: #2e3039;
    cursor: pointer;
  }
  .hero-img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-img-container .hero-img {
    width: 50vw;
  }
}
/*# sourceMappingURL=main.css.map */